<div>
  <ul>
    <li *ngFor="let prenumerant of prenumeranter">
      <div class="wrapper mt-2 p-3 border">
        <div class="row">
          <div class="col align-items-center justify-content-center">
            {{prenumerant.name}}

          </div>
          <div class="col mb-3 d-flex ">{{prenumerant.email}}



          </div>


          <div class="d-flex">

            <button (click)="onCollect(prenumerant.email)" class="btn btn-primary position-relative">Collect mail


              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{mailCount}}
                <span class="visually-hidden">unread messages</span>
              </span>
            </button>
          </div>
          <div class="container">
            <h3>Alla tidningar mottagna ({{allNewsPapersReceived.length}})</h3>
            <div *ngFor="let paper of allNewsPapersReceived">
              <span>Tidningsnamn: {{paper.name}}</span>
              <span>utgåva: {{paper.edition}}</span>
              <span>Rubrik: {{paper.frontNewsHeadline}}</span>
              <span>Datum: {{paper.printDate}}</span>
            </div>
          </div>

        </div>

      </div>
    </li>
  </ul>
</div>
